html {
	font-size: 12px;
	font-family: Arial, serif;
}

img {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

}

input[type=text] {
	font-family: Arial;
	font-size: 12px;
	width: 503px;
	height: 34px;
	padding: 6px 9px 0 16px;
	display:block;
	margin: auto;
	border: 1px solid #grey;
	box-shadow: grey;
}

input[type=submit], input[type=button] {
	background-color: #e7e7e7;
	padding: 11px 36px;
	margin: 25px 4px;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	font-size: 13px;
	color: #757575;
}

input[type=submit]:hover, input[type=button]:hover {
	border: 1px solid #f2f2f2;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: black;
}

input[type=text]:hover {

	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.19);
}
